color-white = #fff
color-black = #000
color-primary = #007BFA
color-success = #01A93A
color-warning = #E6A23C
color-danger = #FE4348
color-info = #909399
brand-primary = color-white

color-text-regular = #666
border-color = #ebedf0
