color-white = #fff
color-black = #000
color-primary = #007BFA
color-success = #01A93A
color-warning = #E6A23C
color-danger = #FE4348
color-info = #909399
brand-primary = color-white

color-text-regular = #666
border-color = #c5cad5


// Button 按钮
button-large-height = 100px
button-large-font-size = 36px

button-small-height = 64px
button-small-font-size = 28px

button-default-fill = color-white
button-default-color = color-text-regular
button-default-border-color = border-color
button-default-active-fill = #E8E8E8

button-primary-fill = color-primary
button-primary-color = color-white
button-primary-border-color = color-primary
button-primary-active-fill = #0065CD

button-success-fill = color-success
button-success-color = color-white
button-success-border-color = color-success
button-success-active-fill = #018A2F

button-warning-fill = color-warning
button-warning-color = color-white
button-warning-border-color = color-warning
button-warning-active-fill = #BC8531

button-danger-fill = color-danger
button-danger-color = color-white
button-danger-border-color = color-danger
button-danger-active-fill = #D0373B

button-default-ghost-color = color-text-regular
button-default-ghost-active-fill = #E8E8E8

button-primary-ghost-color = color-primary
button-primary-ghost-active-fill = #D1E7FE

button-success-ghost-color = color-success
button-success-ghost-active-fill = #D1EFDB

button-warning-ghost-color = color-warning
button-warning-ghost-active-fill = #FAEEDC

button-danger-ghost-color = color-danger
button-danger-ghost-active-fill = #FFDDDE
