color-white = #fff
color-black = #000
color-primary = #007BFA
color-success = #01A93A
color-warning = #E6A23C
color-danger = #FE4348
color-info = #909399
brand-primary = color-white

color-text-regular = #666
border-color = #ebedf0


/* button
_______________________ */
button-large-height = 100px
button-large-font-size = 36px

button-small-height = 64px
button-small-font-size = 28px

button-default-fill = color-white
button-default-color = color-text-regular
button-default-border-color = border-color
button-default-active-fill = #E8E8E8

button-primary-fill = color-primary
button-primary-color = color-white
button-primary-border-color = color-primary
button-primary-active-fill = #0065CD

button-success-fill = color-success
button-success-color = color-white
button-success-border-color = color-success
button-success-active-fill = #018A2F

button-warning-fill = color-warning
button-warning-color = color-white
button-warning-border-color = color-warning
button-warning-active-fill = #BC8531

button-danger-fill = color-danger
button-danger-color = color-white
button-danger-border-color = color-danger
button-danger-active-fill = #D0373B

button-default-ghost-color = color-text-regular
button-default-ghost-active-fill = #E8E8E8

button-primary-ghost-color = color-primary
button-primary-ghost-active-fill = #D1E7FE

button-success-ghost-color = color-success
button-success-ghost-active-fill = #D1EFDB

button-warning-ghost-color = color-warning
button-warning-ghost-active-fill = #FAEEDC

button-danger-ghost-color = color-danger
button-danger-ghost-active-fill = #FFDDDE

/* header
_______________________ */
header-height = 100px
header-fill = brand-primary
header-text-color = color-text-regular
header-title-font-size = 40px
header-horizontal-space-between = 30px
header-label-default-color = color-primary
header-z-index = 99

/* tabbar
_______________________ */
tabbar-height = 100px
tabbar-fill = brand-primary
tabbar-text-color = color-text-regular
tabbar-text-active-color = color-primary
tabbar-z-index = 99
tabbar-badge-fill = color-danger
tabbar-badge-color = color-white

/* icon
_______________________ */
icon-font-size-xs = 24px
icon-font-size-sm = 28px
icon-font-size-md = 36px
icon-font-size-lg = 40px
icon-font-size-xl = 48px
icon-font-size-xxl = 56px

/* tab
_______________________ */
tab-height = 88px
tab-fill = brand-primary
tab-active-line-height = 4px
tab-active-line-color = color-primary
tab-label-size = 28px
tab-label-color = color-text-regular
tab-label-active-color = color-primary
tab-label-disabled-color = #c8c9cc
tab-label-border = 2px solid border-color
