/* button
_______________________ */
button-large-height = 100px
button-large-font-size = 36px

button-small-height = 64px
button-small-font-size = 28px

button-radius = 0

button-default-fill = color-white
button-default-color = color-text-regular
button-default-border-color = border-color
button-default-active-fill = #E8E8E8

button-primary-fill = color-primary
button-primary-color = color-white
button-primary-border-color = button-primary-fill
//button-primary-active-fill = #0065CD
button-primary-active-fill = mix(button-primary-fill, #000, 80%)

button-success-fill = color-success
button-success-color = color-white
button-success-border-color = button-success-fill
// button-success-active-fill = #018A2F
button-success-active-fill = mix(button-success-fill, #000, 80%)

button-warning-fill = color-warning
button-warning-color = color-white
button-warning-border-color = button-warning-fill
button-warning-active-fill = mix(button-warning-fill, #000, 80%)

button-danger-fill = color-danger
button-danger-color = color-white
button-danger-border-color = button-danger-fill
button-danger-active-fill = mix(button-danger-fill, #000, 80%)

button-default-ghost-color = color-text-regular
button-default-ghost-active-fill = #E8E8E8

button-primary-ghost-color = color-primary
button-primary-ghost-active-fill = mix(color-primary, #fff, 10%)

button-success-ghost-color = color-success
button-success-ghost-active-fill = mix(color-success, #fff, 10%)

button-warning-ghost-color = color-warning
button-warning-ghost-active-fill = mix(color-warning, #fff, 10%)

button-danger-ghost-color = color-danger
button-danger-ghost-active-fill = mix(color-danger, #fff, 10%)

/* header
_______________________ */
header-height = 100px
header-fill = brand-primary
header-text-color = color-text-regular
header-left-label-font-size = 24px
header-title-font-size = 40px
header-horizontal-space-between = 30px
header-label-default-color = color-primary
header-z-index = 99

/* tabbar
_______________________ */
tabbar-height = 100px
tabbar-fill = brand-primary
tabbar-text-color = color-text-regular
tabbar-text-active-color = color-primary
tabbar-z-index = 99
tabbar-badge-fill = color-danger
tabbar-badge-color = color-white

/* icon
_______________________ */
icon-font-size-xs = 24px
icon-font-size-sm = 28px
icon-font-size-md = 36px
icon-font-size-lg = 40px
icon-font-size-xl = 48px
icon-font-size-xxl = 56px

/* tab
_______________________ */
tab-height = 88px
tab-fill = brand-primary
tab-active-line-height = 4px
tab-active-line-color = color-primary
tab-label-size = 28px
tab-label-color = color-text-regular
tab-label-active-color = color-primary
tab-label-disabled-color = #c8c9cc
tab-label-border = 2px solid border-color

/* popup
_______________________ */
popup-transition-duration = .3s
popup-mask-color = rgba(0, 0, 0, .3)
popup-mask-zindex = 100
popup-content-zindex = popup-mask-zindex + 1
popup-content-background = brand-primary
popup-content-radius = 10px

/* picker
_______________________ */
picker-mask-start-color = hsla(0, 0%, 100%, .4)
picker-mask-end-color = hsla(0, 0%, 100%, .8)
picker-indicator-border-color = #d0d0d0
picker-font-size = 28px
picker-toolbar-height = 88px
picker-toolbar-title-font-size = 32px
picker-toolbar-border-color = #d0d0d0

/* toast
_______________________ */
toast-transition-duration = .3s
toast-mask-color = rgba(0, 0, 0, .3)
toast-mask-zindex = 100
toast-font-color = color-white
toast-background-color = rgba(50, 50, 51, 0.88)
toast-square-side = 180px
toast-text-min-width = 200px
toast-border-radius = 10px
toast-font-size = 30px
toast-zindex = 100
toast-position-top = 5%
toast-position-center = 45%
toast-position-bottom = 5%
